<h1>{{data.abo.name}}</h1>

<form [formGroup]="aboForm">
    <mat-form-field appearance="fill">
        <mat-label>Bezeichnung</mat-label>
        <input matInput formControlName="name" type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Kosten</mat-label>
        <input matInput formControlName="cost" type="number">
    </mat-form-field>
    <div class="Turnus" fxLayout="row" fxLayoutAlign="space-between start">
        <mat-form-field appearance="fill">
            <mat-label> Turnus-Intervall </mat-label>
            <input matInput formControlName="period_number" type="number">
        </mat-form-field>
        <mat-form-field appearance="fill" style="margin-left:15px">
            <mat-label>Turnus-Zeitraum</mat-label>
            <mat-select formControlName="periodName">
                <mat-option *ngFor="let t of turnus" [value]="t.value">
                    {{t.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Beschreibung</mat-label>
        <input matInput formControlName="description" type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Vertragsnummer</mat-label>
        <input matInput formControlName="contract_number" type="text">
    </mat-form-field>
    <div class="Turnus" fxLayout="row" fxLayoutAlign="space-between start">
        <div class="Turnus" fxLayout="row" fxLayoutAlign="space-between start">
            <mat-form-field appearance="fill">
                <mat-label>'Startdatum wählen'</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="start_date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="fill" style="margin-left:15px">
                <mat-label>Enddatum wählen</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="end_date">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
        </div>
    </div>
    <div class="Turnus" fxLayout="row" fxLayoutAlign="space-between start">
        <mat-form-field appearance="fill">
            <mat-label>Kündigungserinnerung wählen</mat-label>
            <input matInput [matDatepicker]="picker3" formControlName="cancellation_date">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        <mat-form-field appearance="fill" style="margin-left:15px">
            <mat-label>Kategorie</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let c of categories" [value]="c.value">
                    {{c.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>
<mat-checkbox class="example-margin">steuerrelevant</mat-checkbox>
<div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button (click)="closeDialog()">Abbrechen</button>
    <button mat-raised-button>Dokument</button>​
    <button mat-raised-button [disabled]="data.abo.name.length==0" (click)="delete()" *ngIf="data.btn">Löschen</button>
    <button mat-raised-button [disabled]="!aboForm.valid" (click)="submit()">Speichern</button>
</div>