<h1>{{data.bookingData.name}}</h1>

<form [formGroup]="transactionForm">
    <mat-form-field appearance="fill">
        <mat-label>Bezeichnung</mat-label>
        <input matInput formControlName="name" type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Betrag</mat-label>
        <input matInput formControlName="amount" type="number">
    </mat-form-field>
    <div class="Turnus" fxLayout="row" fxLayoutAlign="space-between start">
        <mat-form-field appearance="fill">
            <mat-label> Turnus-Intervall </mat-label>
            <input matInput formControlName="periodNumber" type="number">
        </mat-form-field>
        <mat-form-field appearance="fill" style="margin-left:15px">
            <mat-label>Turnus-Zeitraum</mat-label>
            <mat-select formControlName="periodName">
                <mat-option *ngFor="let t of turnus" [value]="t.value">
                    {{t.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Mein Konto</mat-label>
        <mat-select formControlName="myAccount">
            <mat-option *ngFor="let m of myAccounts" [value]="m.value">
                {{m.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field> 
    <mat-form-field appearance="fill">
        <mat-label>Transaktionskonto</mat-label>
        <input matInput formControlName="transactionAccount" type="text">
    </mat-form-field>
    <div class="Turnus" fxLayout="row" fxLayoutAlign="space-between start">
        <div class="Turnus" fxLayout="row" fxLayoutAlign="space-between start">
            <mat-form-field appearance="fill">
                <mat-label>'Datum wählen'</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="fill" style="margin-left:15px">
                <mat-label>Kategorie</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let c of categories" [value]="c.value">
                        {{c.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>    
        </div>
    </div>
</form>
<mat-checkbox [checked]="data.bookingData.isTaxRelevant" (change)="onChangeCheckBox($event)"> steuerrelevant </mat-checkbox> 
<div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button (click)="closeDialog()">Abbrechen</button>​
    <button mat-raised-button [disabled]="data.bookingData.name.length==0" (click)="delete()" *ngIf="data.btn">Löschen</button>
    <button mat-raised-button [disabled]="!transactionForm.valid" (click)="submit()">Speichern</button>
</div>
