<h1>Kalender</h1>
<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'): locale}}</h3>
<div fxLayoutAlign="space-between center">
    <div>
        <mat-button-toggle-group>
            <mat-button-toggle mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">Zurück</mat-button-toggle>
            <mat-button-toggle mwlCalendarToday [(viewDate)]="viewDate">Heute</mat-button-toggle>
            <mat-button-toggle mwlCalendarNextView mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">Vor</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div>
        <mat-button-toggle-group>
            <mat-button-toggle (click)="setView(CalendarView.Day)">Tag</mat-button-toggle>
            <mat-button-toggle (click)="setView(CalendarView.Week)">Woche</mat-button-toggle>
            <mat-button-toggle (click)="setView(CalendarView.Month)">Monat</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>

<div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)" [locale]="locale">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [locale]="locale"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [locale]="locale"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>