<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Verträge">
        <div *ngFor="let contract of contracts">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title> {{contract.name}} mit {{contract.cost}} € pro Monat </mat-card-title>
                    <mat-card-subtitle>{{contract.category}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayout="row" fxLayoutAlign="space-between start" style="margin-left:15px">
                    <div fxFlex="80">
                        {{contract.description}}
                    </div>
                    <div fxFlex="20">
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </div>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="end center">
                    <button mat-button (click)="openDialog(contract)">Bearbeiten</button>
                </mat-card-actions>
            </mat-card>
            <br>
        </div>
    </mat-tab>
    <mat-tab label="Abonnements">

    </mat-tab>
</mat-tab-group>
