<!-- <head>
    <script type = "text/javascript" src="showAboNameAndCost.js"> </script> 
    <title>abc</title><meta charset="utf-8"/>
</head> -->
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Verträge">
        <div mat-dialog-actions>
            <button mat-raised-button (click)="openDialogAddContract()">Vertrag hinzufügen</button>
        </div>
        <div *ngFor="let contract of contractsWithNote">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title> {{contract.note}}</mat-card-title>
                    <mat-card-subtitle>{{contract.contract.category}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayout="row" fxLayoutAlign="space-between start" style="margin-left:15px">
                    <div fxFlex="80">
                        Anbieter: {{contract.contract.provider}} <br>
                        Beschreibung: {{contract.contract.description}} <br>
                        Vertragsnummer: {{contract.contract.contract_number}} <br>
                        Vertragsstart: {{contract.contract.start_date}} <br>
                        Vertragsende: {{contract.contract.end_date}} <br>
                        Kündigungserinnerung: {{contract.contract.cancellation_date}}
                    </div>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="end center">
                    <button mat-button (click)="openContractDialog(contract.contract)">Bearbeiten</button>
                </mat-card-actions>
            </mat-card>
            <br>
        </div>
    </mat-tab>
    <mat-tab label="Abonnements">
        <div mat-dialog-actions>
            <button mat-raised-button (click)="openDialogAddAbo()">Abonnement hinzufügen</button>
        </div>
        <div *ngFor="let abo of abos">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title> {{abo.name}} mit {{abo.cost}} € pro Monat </mat-card-title>
                    <mat-card-subtitle>{{abo.category}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayout="row" fxLayoutAlign="space-between start" style="margin-left:15px">
                    <div fxFlex="80">
                        Beschreibung: {{abo.description}} <br>
                        Vertragsnummer: {{abo.contract_number}} <br>
                        Vertragsstart: {{abo.start_date}} <br>
                        Vertragsende: {{abo.end_date}} <br>
                        Kündigungserinnerung: {{abo.cancellation_date}}
                    </div>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="end center">
                    <button mat-button (click)="openAboDialog(abo)">Bearbeiten</button>
                </mat-card-actions>
            </mat-card>
            <br>
        </div>
    </mat-tab>
</mat-tab-group>