<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Verträge">
        <div mat-dialog-actions>
            <button mat-raised-button (click)="openContractDialog(emptyContract,false)">Vertrag hinzufügen</button>
        </div>
        <div *ngFor="let contract of contracts">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title> {{contract.nameAndCost}}</mat-card-title>
                    <mat-card-subtitle>{{contract.category}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayout="column" fxLayoutAlign="space-between start" style="margin-left:15px">
                    <div fxFlex="80" *ngIf="contract.description != null">
                        Anbieter: {{contract.provider}} <br>
                    </div>
                    <div fxFlex="80" *ngIf="contract.description != null">
                        Beschreibung: {{contract.description}} <br>
                    </div>
                    <div fxFlex="80" *ngIf="contract.contract_number != null">
                        Vertragsnummer: {{contract.contract_number}}<br>
                    </div>
                    <div fxFlex="80" *ngIf="contract.start_date != null">
                        Vertragsstart: {{contract.start_date | date:"dd.MM.yy"}} <br>
                    </div>
                    <div fxFlex="80" *ngIf="contract.end_date != null">
                        Vertragsende: {{contract.end_date | date:"dd.MM.yy"}} <br>
                    </div>
                    <div fxFlex="80" *ngIf="contract.cancellation_date != null">
                        Kündigungserinnerung: {{contract.cancellation_date | date:"dd.MM.yy"}} <br>
                    </div>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="end center">
                    <button mat-button (click)="openContractDialog(contract,true)">Bearbeiten</button>
                </mat-card-actions>
            </mat-card>
            <br>
        </div>
    </mat-tab>
    <mat-tab label="Abonnements">
        <div >
        <div mat-dialog-actions>
            <button mat-raised-button (click)="openAboDialog(emptyAbo,false)">Abonnement hinzufügen</button>
        </div>
        </div>
        <div *ngFor="let abo of abos">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title> {{abo.nameAndCost}} </mat-card-title>
                    <mat-card-subtitle>{{abo.category}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayout="column" fxLayoutAlign="space-between start" style="margin-left:15px">
                    <div fxFlex="80" *ngIf="abo.description != null">
                        Beschreibung: {{abo.description}} <br>
                    </div>
                    <div fxFlex="80" *ngIf="abo.contract_number != null">
                        Vertragsnummer: {{abo.contract_number}}<br>
                    </div>
                    <div fxFlex="80" *ngIf="abo.start_date != null">
                        Vertragsstart: {{abo.start_date | date:"dd.MM.yy"}} <br>
                    </div>
                    <div fxFlex="80" *ngIf="abo.end_date != null">
                        Vertragsende: {{abo.end_date | date:"dd.MM.yy"}} <br>
                    </div>
                    <div fxFlex="80" *ngIf="abo.cancellation_date != null">
                        Kündigungserinnerung: {{abo.cancellation_date | date:"dd.MM.yy"}} <br>
                    </div>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="end center">
                    <button mat-button (click)="openAboDialog(abo,true)">Bearbeiten</button>
                </mat-card-actions>
            </mat-card>
            <br>
        </div>
    </mat-tab>
</mat-tab-group>